body{
    font-weight: normal;
    -webkit-font-weight:bold;
}

.transition{
    -webkit-transition: -webkit-box-shadow 4s;
    -o-transition: box-shadow 4s;
    -ms-transition: box-shadow 4s;
    transition: box-shadow 4s;
}